.magicrow-unactive {
}
.magicrow-unactive:hover {
    background: #C1C1C1;
    cursor: pointer;
}

.magicrow-active, .my-li-active {
    background: #C1C1C1;
    cursor: pointer;
}
.my-table {
    border-collapse: collapse;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.my-table td, .my-table th {
    padding: 15px 10px;
    text-align: left;
}

.my-table > thead > tr {
    
    border-top-width: 1px;
}

.my-table tr  {
    border-bottom: 1px solid #C1C1C1;
}

.block-padding {
    padding: 10px;
}